/* Header Styles */
h1 {
    padding-top: 0.02em;
    text-align: center;
    font-family: sans-serif, Arial;
    padding-bottom: 0.02em;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Card Styles*/
.card {
    margin: 10px;
    border-radius: 40px;
    border-style: groove;
    border-color: black;
    background-color: white;
    word-wrap: break-word;
    flex: 1 0 auto;
    min-height: 300px;
}
.card-img-top {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.card-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
/* Carousel Styles*/
.carousel-item {
    border: 40px solid white;
    border-radius: 20px;
}

/* Image Styles */
.picture {
    max-height: 100%;
    max-width: 100%;
}

/* Button Styles */
.btn, .btn-primary {
    align-content: center;
    max-height: 6vh;
}

/* Form Styles */
form {
    background-color: white;
    border-style: groove;
    border-color: black;
    border-radius: 25px;
    padding: 3vh 10vw;
    text-align: center;
    margin-bottom: 15px;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../res/img/Hotel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Footer Links Stil */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Title Styles */
.maintitle {
    font-size: 7vw;
    font-weight: bolder;
}

.title {
    font-size: 5vw;
    font-weight: bolder;
}

.secondary-title {
    font-size: 2vw;
}

/* Aside Styles */
aside {
    float: right;
    text-align: center;
}

/* Input and Form Element Styles */
input[type="text"],
input[type="password"],
input[type="submit"],
input[type=reset],
input[type="email"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 1s;
}

/* Input Focus Styles */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

/* Checkbox Styles */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

/* Checkbox Hover and Checked Styles */
input[type="checkbox"]:hover {
    background-color: #f0f0f0;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

input[type="checkbox"]:checked:hover {
    background-color: #45a049;
}

/* Navigation Styles */
.navbar {
    font-family: sans-serif, Arial;
    font-weight: bold;
}

nav {
    margin-bottom: 2em;
}

a {
    flex: 1 0 0;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Additional Styles */
.navbar {
    margin-right: 0;
    width: 100%;
}

.standard-container {
    max-width: 10vw;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: white;
}

.formclass {
    color: white;
}

article {
    background-color: white;
}

.containermobile {
    display: flex;
    flex-direction: column;
}
