.hotelname {
  font-family: 'Satisfy', cursive;
}

h1 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Satisfy', serif;
    padding-bottom: 50px;
}

footer {
    display:flex;
  }
  
  a {
    flex: 1 0 0;
  }

