

h1 {
    padding-top: 50px;
    text-align: center;
    font-family:serif;
    padding-bottom: 50px;
}


footer {
    display:flex;
  }
  
  a {
    flex: 1 0 0;
  }

.navbar {
  margin-right: 0;
  width: 100%;
}

.standard-container {
  max-width: 1080px;
  margin: 0 auto;
}

